<!-- ======= Pricing Section ======= -->
<section id="pricing" class="padd-section text-cente">

    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">

        <h2 class="BranchName" style="margin-bottom: 0px;">Meet With Price</h2>
        <p class="Phone"></p>
        <hr>
        <p class="BranchAddress" style="font-size: 15px;"></p>
        <a href="" class="MapLink universalButton btn-get-started scrollto">Lihat Map</a>
        <hr>
        <div class="que-container" data-aos="fade-in">
          <h1>Total Antrian</h1>
          <div class="que-number-container">
            <span style="display:inline-block" class="RemainingQue">14</span>
            
          </div>
          <!-- <div class="btns">
            <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
            <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
            <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
          </div> -->
          <!-- <a class=" btn-get-started universalButton joinbutton" page="que/contact.html" style="margin-top: 10px;" href="#que/contact.html" >Join the que</a> -->
        </div>
      </div>

      <div class="row QueType" data-aos="fade-up" data-aos-delay="100">
        <div class="QueTemplate looptemplate col-md-6 col-lg-12" style="margin-bottom: 10px;">
          <div class="block-pricing">
            <div class="table">
              <h2 class="Name" style="font-size: 15px;">basic</h1>
              <h3 class="QueLeft" style="margin-bottom: 0px;margin-top: 30px;color: var(--bri-blue);">29</h2>
              <h5 style="margin-bottom: 10px;">Sisa Antrian</h4>
              <!-- <ul class="list-unstyled">
                <li><b>4 GB</b> Ram</li>
                <li><b>7/24</b> Tech Support</li>
                <li><b>40 GB</b> SSD Cloud Storage</li>
                <li>Monthly Backups</li>
                <li>Palo Protection</li>
              </ul> -->
              <div class="table_btn">
                <a class="BookCode btn">Ambil Kode Booking</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Pricing Section -->
  <!-- ======= Hero Section ======= -->
<section id="que" class="padd-section text-cente">
  <div class="que-container" data-aos="fade-in">
    <h1>Nomor Booking</h1>
    <div class="que-number-container" style="height: 68px;">
      <span style="display:inline-block; font-size: 40px; vertical-align: top;" class="BookNo">14</span>
      
    </div>
    <!-- <span class="BranchName"></span> -->
    <span class="">Untuk antrian <b><span class="QueInfo">BRI KC 1</span></b> di </span>
    <hr>
    <h1 class="BranchName" style="color: black;"></h1>
    <span class="BranchAddress" style="font-size: 20px;"></span>
    <span style="display:inline-block; font-size: 15px;padding:5px; color: red;">*Kode hanya berlaku selama 1 hari.
    Dan tolong untuk screenshoot halaman ini, sebagai bukti booking.
    </span>
    <!-- <div class="btns">
      <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
      <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
      <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
    </div> -->
  </div>
</section><!-- End Hero Section -->
  <script src="view/branch-list/branch-detail.js"></script>