

    <!-- ======= Team Section ======= -->
    <section id="team" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>BRI Terdekat</h2>
          <p class="separator">list BRI Terdekat</p>
        </div>

        <div class="row BranchList">
          <a class="BranchTemplate looptemplate col-md-6 col-md-4 col-lg-4">
            <div data-aos="zoom-in" data-aos-delay="100">
              <div class="team-block bottom">
                <img src="" class="BranchImage img-responsive" alt="img">
                <!-- <div class="team-content">
                  
                  <h4 class="">
                    <h5>Sisa Antrian</h5>
                    <span class="QueRemaining"></span><br>
                    <a href="#branch-list" page="branch-list.html" class="btn-get-started scrollto">Lihat Detail</a>
                  </h4>
                </div> -->
                <div>
                  <span class="BranchName">BRI KC 1</span><br>
                  <span class="BranchAddress">BRI KC 1</span>
                  <h5>Sisa Antrian</h5>
                  <span class="QueRemaining"></span><br>
                  
                  <!-- <h4 class="BranchAddress"></h4> -->
                </div>
                
              </div>
            </div>
          </a>
          

        

        </div>
      </div>
    </section><!-- End Team Section -->

<script src="view/branch-list.js"></script>