<!-- ======= Hero Section ======= -->
<section id="que">
  <div class="que-container" data-aos="fade-in">
    <h1>Nomor Booking</h1>
    <div class="que-number-container">
      <span style="display:inline-block" class="BookNo">14</span>
      
    </div>
    <div class="btns">
      <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
      <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
      <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
    </div>
    <a class=" btn-get-started joinbutton" page="que/contact.html" style="margin-top: 10px;" href="#que/contact.html" >Join the que</a>
  </div>
</section><!-- End Hero Section -->
<script src="view/que.js"></script>